@charset "UTF-8";
html {
  font-size: 62.5%; /* 1rem → 10px */
  font-family: "Noto Sans JP";
  font-weight: 700;
}
@media (max-width: 960px) {
  html {
      font-size: 50%; /* 1rem → 8px */
  }
}
body {
  font-size: 1.6rem;
}
main{
  overflow: hidden;
}
img {
  width: 100%;
  height: auto;
}
ul {
  list-style: none ;
}
/*横幅900のひろいやつ*/
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 100.8rem;
  padding: 0 6.2rem;
}
@media (max-width: 1200px) {
  .container {
      width: 90%;
      padding: 0;
  }
}
/*横幅660のせまいやつ*/
.container-660 {
  width: 100%;
  margin: 0 auto;
  max-width: 72rem;
}
@media (max-width: 1000px) {
  .container-660 {
      width: 90%;
      padding: 0;
  }
}
/*横幅800のやつ*/
.container-800 {
  width: 100%;
  margin: 0 auto;
  max-width: 90rem;/*ここを変える*/
}
@media (max-width: 1000px) {
  .container-800 {
      width: 90%;
      padding: 0;
  }
}

/* 共通パーツ */
.slide-in {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 1.5s, transform 1.5s;
}
a:hover {
  opacity: 0.6;
}
.common-btn{
  font-size: 2.6rem;
  text-align: center;
  color: white;
  display: block;
  width: 50rem;
  text-decoration: none;
  font-weight: 100;
  padding: 2rem 0;
  margin: 0 auto;
  margin-top: 3.2rem;
  border-radius: 50px;
  border: 3px solid white;
  position: relative;
  filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.16));
}
.common-btn::after{
  content: url('../image/arrow.svg') !important;
  position: absolute;
  opacity: 1 !important;
  right: 6.6%;
  top: 30%;
}
.red{
  background: #DC000C;
}
.orange{
  background: #FF783C;
}
.commont-top-btn{
  width: 6.5rem;
  height: 6.5rem;
  position: absolute;
  right: 0;
  top: -3rem;
  z-index: 1;
}
.common-span{
  color: white;
  display: block;
  font-weight: 100;
  text-align: center;
  padding: 0.3rem 1.55rem;
  margin-right: 1.2rem;
}
.common-form-label{
  height: 3rem;
  display: flex;
  margin-bottom: 1.9rem;
}
.common-form-label label{
  font-size: 2.2rem;
  line-height: 3rem;
}
.required{
  background: #DC000C;
}
.free{
  background-color: #818181;
}
.common-title{
  position: relative;
}
.common-title h1{
  font-family: Roboto;
  font-weight: 900;
  font-size: 16.8rem;
  text-align: center;
  height: 11.7rem;
  line-height: 11.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.common-title h2{
  position: absolute;
  top: 30%;
  font-size: 3.2rem;
  left: 42%;
}
.pink h1{
  color: #fee8e8;
}
.beige h1{
  color: #ffe5d9;
}
.gray h1{
  color: #EFEFEF;
}
.gray h2{
  left: 40%;
}
/* 共通パーツ */

/* ヘッダー */
header{
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
}
.header {
  display: flex;
  align-items: center;
  max-width: 115.2rem;
  height: 9.5rem;
  margin: 0 auto;
}
.header .header-left {
  height: 3.5rem;
}
.header .header-left img{
  width: 30.9rem;
}
.header .header-right {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}
.header .header-right ul {
  display: flex;
  padding: 3.8rem 0;
  font-size: 0.875rem;
  list-style: none;
}
.header .header-right ul li {
  margin-right: 2.5rem;
  font-size: 1.4rem;
}
.header .header-right ul li a {
  color: #1A1311;
  font-weight: bold;
  text-decoration: none;
}
.header .header-right .header-info {
  background: #1A1311;
  color: white;
  padding: 2rem 1.4rem 1.3rem 1.7rem;
  text-align: center;
}
.header .header-right .header-info p:nth-child(1) {
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 0.5rem;
}
.header .header-right .header-info p:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 100;
  text-align: right;
  line-height: 1.7rem;
}
/* ヘッダー */

/* フッター */
.footer{
  background: linear-gradient(to bottom, #DC000C 0%, #DC000C 68%, #1A1311 32%, #1A1311 100%);
  color: white;
}
.footer-top{
  max-width: 115.2rem;
  margin: 0 auto;
  padding: 6rem 0;
  position: relative;
}
.footer-top h1{
  margin-bottom: 3rem;
  text-align: center;
}
.footer-top-contact{
  display: flex;
}
.footer-top-contact-left{
  width: 49%;
  border-right: 1px solid white;
  text-align: center;
  height: 9.8rem;
  padding-top: 1.5rem;
}
.footer-top-contact-left h1{
  font-size: 4rem;
  text-align: center;
  margin-bottom: 0;
}
.footer-top-contact-left p{
  padding-left: 2rem;
  font-size: 1.8rem;
  font-weight: 100;
  text-align: center;
}
.footer-top-contact a{
  margin-left: 4.1rem;
  width: 46rem;
}
.footer-bottom{
  display: flex;
  padding: 3rem 0;
  max-width: 115.2rem;
  margin: 0 auto;
}
.footer-bottom-content-left{
  width: 53rem;
}
.footer-bottom-content-left img{
  width: 28.9rem;
  height: auto;
}
.footer-bottom-content-left h2{
  font-size: 2.5rem;
}
.footer-bottom-content-left p{
  font-size: 1.3rem;
  font-weight: 100;
}
.footer-bottom-content-right{
  display: flex;
  width: 54%;
  justify-content: space-between;
}
.footer-bottom-content-right li a{
  color: white;
  text-decoration: none;
}
/* フッター */

/* トップページ */
/* メインビジュアル */
.main-visual {
  max-width: 144rem;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.main-visual img {
  width: 100%;
  height: 48rem;
  object-fit: cover;
}
/* メインビジュアル */

/* 会社案内トップ */
.about{
  padding: 6.6rem 0;
}
.about-text{
  font-size: 3rem;
  text-align: center;
  line-height: 4.6rem;
}
/* 会社案内トップ */

/* 事業内容トップ */
.business{
  text-align: center;
  background: linear-gradient(171.5deg, #dc000c 0%, #dc000c 61%, #FF783C 50%, #FF783C 100%);
  padding: 5.5rem 0 4rem 0;
  position: relative;
}
.business-used{
  width: 66rem;
  margin-bottom: 9.3rem;
}
.business-maintenance{
  width: 66rem;
  margin-bottom: 0rem;
}
.business-used h2, .business-maintenance h2{
  font-size: 3.2rem;
  color: white;
  margin-bottom: 3.2rem;
}
.business-used-box, .business-maintenance-box{
  height: 78rem;
}
.business-used-box-top, .business-maintenance-box-top{
  height: 43rem;
}
.business-used-box-top img, .business-maintenance-box-top img{
  height: 100%;
}
.business-used-box-bottom, .business-maintenance-box-bottom{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: white;
  padding: 4.5rem 8rem 5.74rem 8rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
}
.business-used-box-bottom p, .business-maintenance-box-bottom p{
  font-size: 2rem;
  line-height: 3.2rem;
}
/* 事業内容トップ */

/* お悩み内容 */
.business-trouble{
  background: #FF783C;
  margin-top: 21rem;
}
.business-trouble-text{
  text-align: center;
  color: white;
  font-size: 3.2rem;
  font-weight: 100;
  margin-bottom: 8.1rem;
}
.business-trouble-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.business-trouble-content-part{
  width: 24.2rem;
  margin-bottom: 6rem;
}
.business-trouble-content-img{
  padding: 4.8rem 0;
  border-radius: 50%;
  margin-bottom: 3rem;
  width: 22.5rem;
  height: 22.5rem;
  background-color: white;
  text-align: center;
}
.business-trouble-content-part:nth-child(1) img {
  width: 9.3rem;
}
.business-trouble-content-part:nth-child(2) img {
  width: 14rem;
}
.business-trouble-content-part:nth-child(3) img {
  width: 12.8rem;
}
.business-trouble-content-part:nth-child(4) img {
  width: 12.5rem;
}
.business-trouble-content-part p{
  text-align: center;
  font-size: 2rem;
  color: white;
  font-weight: 100;
}
/* お悩み内容 */

/* 会社案内 */
.company{
  text-align: center;
}
.company-title{
  font-size: 3.2rem;
  margin: 10rem 0 6.8rem 0;
}
.company-feature{
  display: flex;
  justify-content: space-around;
  margin-bottom: 4.2rem;
}

.company-feature h3{
  height: 17.8rem;
  width: 17.8rem;
  font-size: 2.5rem;
  background: linear-gradient(to bottom right, #DC010B 50%, #CC0105 50%);
  color: white;
  font-weight: 100;
  border-radius: 50%;
  line-height: 17.8rem;
}
.company-text{
  font-size: 2.0rem;
  font-weight: 100;
  line-height: 3.8rem;
}
.company-slider{
  overflow: hidden;
  margin: 5.7rem 0;
}

.company-info{
  margin-bottom: 5.7rem;
}
.company-info-part{
  display: flex;
  border-bottom: 1px solid #767676;
  text-align: left;
  font-weight: 100;
  font-size: 1.8rem;
  padding: 2rem 0;
  position: relative;
}
.company-info-part::before{
  content: '';
  position: absolute;
  width: 17%;
  height: 0.2rem;
  background-color: #D6101D;
  bottom: -0.15rem;
}
.company-info-part:nth-child(1){
  padding-bottom: 2rem;
}
.company-info-part p:nth-child(1){
  width: 17%;
}
.company-info-part p:nth-child(2){
  width: 83%;
}
.company-business-content p, .company-facilities p, .company-qualification p{
  width: 100% !important;
}
.company-place{
  height: 40.0rem;
}
iframe{
  width: 100%;
  height: 100%;
}
/* 会社案内 */

/* スライダー */
.slider {
  margin: 0 -1.3rem; /* 一枚一枚の間隔を13pxに設定 */
  overflow: hidden;
  max-width: 144rem;
  margin: 0 auto;
}
.slider img {
  width: 100%;
  height: 100%;
  margin: 0 -1.3rem;
}
/* スライダー */

/* スライダーの左右ボタンのスタイル */
.slick-prev{
  position: absolute !important;
  z-index: 2 !important;
  left: 27% !important;
  background: #000000 !important;
  border: 3px solid #fff !important;
  border-radius: 50% !important;
  width: 6.5rem !important;
  height: 6.5rem !important;
}
.slick-prev::before{
  content: url('../image/slider_prev_arrow.svg') !important;
  position: absolute;
  top: 24%;
  opacity: 1 !important;
  transform: rotate(180deg);
  left: 35%;
}
.slick-next{
  position: absolute !important;
  z-index: 2 !important;
  right: 28.5% !important;
  background: #000000 !important;
  border: 3px solid #fff !important;
  border-radius: 50% !important;
  width: 6.5rem !important;
  height: 6.5rem !important;
}
.slick-next::before{
  content: url('../image/slider_next_arrow.svg') !important;
  position: absolute;
  top: 30%;
  opacity: 1 !important;
  left: 40%;
}
/* スライダーの左右ボタンのスタイル */

/* 中古車ページ */
/* 中古車内容 */
.user-car-body{
  background: #fee8e8;
  position: relative;
  line-height: 3.8rem;
  z-index: 1;
  padding: 5rem 0 8.04rem 0;
}
.user-car-text{
  font-size: 1.8rem;
  margin-bottom: 6rem;
}
.user-car-lists{
  
}
.user-car-lists-part{
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
  padding: 2.4rem 2.95rem 4.2rem 2.85rem;
}
.user-car-lists-part:not(:first-child){
  margin-top: 4.5rem;
}
.user-car-lists-part h2{
  font-size: 2.6rem;
  border-bottom: 1px solid #1914122b;
  padding-bottom: 1.65rem;
}
.user-car-lists-part-top{
  display: flex;
  margin: 2.35rem 0 3.4rem 0;
}
.user-car-lists-part-top img{
  width: 30rem
}
.user-car-lists-part-top-right{
  margin-left: 2rem;
}
.common-pay-amounts{
  border-bottom: 1px solid #1914122b;
  padding-bottom: 1.35rem;
  margin-bottom: 1.5rem;
}
.common-pay-amounts p:nth-child(1){
  font-size: 1.8rem;
}
.common-pay-amounts p:nth-child(2){
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 3.8rem;
  text-align: left;
  color: #dc000c;
}
.user-car-options{
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 2.8rem;
}
.user-car-lists-part-bottom{
  width: 51rem;
}
.user-car-lists-part-bottom ul{
  font-weight: 100;
  display: flex;
  flex-wrap: wrap;
}
.user-car-lists-part-bottom ul li{
  margin-right: 1.4rem;
}
.user-car-lists-part-bottom ul li span{
  margin-right: 1.1rem;
  height: 2.8rem;
  background: #ffefe8;
  display: inline-block;
  text-align: center;
  line-height: 2.8rem;
  font-weight: bold;
  padding: 0 1rem;
}
/* 中古車内容 */

/* 中古車検索 */
.search-maker, .search-body-type{
  margin-top: 6rem;
}
.search-maker h2, .search-body-type h2{
  border-radius: 1.2rem;
  background: #1a1311;
  font-size: 2rem;
  color: white;
  text-align: left;
  padding: 1.5rem 0 1.5rem 2.3rem;
}
.search-maker ul, .search-body-type ul{
  display: flex;
  padding: 0 1.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search-maker ul a, .search-body-type ul a{
  width: 46%;
  border-bottom: 1px solid #1914122b;
  padding: 2.75rem 0;
  text-decoration: none;
  color: black;
  font-weight: 100;
  position: relative;
}
.search-maker ul a::after, .search-body-type ul a::after{
  content: url('../image/search_arrow.svg');
  position: absolute;
  top: 36%;
  right: 2rem;
}
/* 中古車検索 */

/* 新車販売テキスト */
.new-car-sales{
  margin-bottom: 8.5rem;
}
.new-car-sales p:nth-child(1){
  background: #fcdedd;
  padding: 1.35rem 0 1.35rem 2.6rem;
  margin: 7rem 0 2.2rem 0;
  font-size: 2.2rem;
}
.new-car-sales p:nth-child(2){
  font-weight: 100;
  font-size: 1.8rem;
}
/* 新車販売テキスト */

/* 中古車販売詳細ページ */
.detail-container{
  background: #fee8e8;
  padding: 4.9rem 0 8.5rem 0;
}
.detail-content{
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
  padding: 2.4rem 2.4rem 5.7rem 2.4rem;
}
.detail-content h2{
  font-size: 2.6rem;
  border-bottom: 1px solid #1914122b;
  padding-bottom: 1.65rem;
  margin-bottom: 2.35rem;
}
.detail-slider-container {
  width: 100%;
}

.detail-slider-slick-img img {
  width: 84.2rem;
}
.detail-thumbnail .slick-track {
  transform: unset !important;
}
.detail-thumbnail-img {
  width: 6.5rem !important;
  height: 6.6rem !important;
  opacity: 0.3;
  transition: opacity .3s linear;
}
.detail-thumbnail-img:not(:last-child){
  margin-right: 2rem;
}
.detail-thumbnail{
  margin-bottom: 2.88rem;
}
.detail-thumbnail-img img{
  height: 100% !important;
  object-fit: cover;
}
.detail-thumbnail .slick-current {
  opacity: 1;
}

.detail-sales-text{
  font-size: 2.2rem;
  color: #e64442;
  margin-bottom: 2.4rem;
}
.detail-data-table{
  border-collapse: collapse;
}
.detail-tr th{
  background: #F7F7F7;
  font-weight: normal;
  font-size: 1.8rem;
  width: 18rem;
  height: 4rem;
  color: #333333;
  border: 1px solid #000;
}
.detail-tr td{
  width: 24.7rem;
  border: 1px solid #000;
  font-weight: 100;
  font-size: 1.8rem;
  padding-left: 1.3rem;
}
.detail-equipment{
  font-size: 2.2rem;
  margin-top: 3.15rem;
}
.detail-equipment-lists{
  font-size: 1.8rem;
  font-weight: 100;
  padding: 1.9rem 0;
}
.detail-notices{
  font-size: 2.2rem;
  border-top: 1px solid #1914122b;
  padding: 3.05rem 0 1.75rem 0;
}
.detail-notices-text{
  font-size: 1.8rem;
  font-weight: 100;
  padding: 1.9rem 0;
  border-bottom: 1px solid #1914122b;
}
.detail-contact{
  font-size: 3.2rem;
  margin: 4.67rem 0 3.1rem 0;
  text-align: center;
}
.detail-contact-content{
  display: flex;
  padding: 0 1.7rem 0 5rem;
}
.detail-contact-content-left{
  margin-right: 2.6rem;
  padding-top: 1.8rem;
}
.detail-contact-content-left p:nth-child(1){
  font-size: 3.27rem;
}
.detail-contact-content-left p:nth-child(2){
  font-weight: 100;
  text-align: center;
}
.detail-contact-content a img{
  width: 43rem;
}
/* 中古車販売詳細ページ */

/* 問い合わせフォーム */
.contact-container{
  background: #ffe5d9;
}
.contact-content{
  padding: 7.5rem 0 8.5rem 0;
}

form .contact-form-part{
  padding-bottom: 1.8rem;
  margin-bottom: 3.4rem;
}
form .contact-form-part:not(:first-child){
  margin-top: 2.2rem;
}
form .contact-form-part:not(:last-child){
  border-bottom: 2px solid #fff;
}
form .textarea{
  border-bottom: none !important;
  padding: 0;
  margin: 0 0 5rem 0;
}
form .contact-form-part input{
  width: 90rem;
  height: 9rem;
  background: #fff;
  border: 1px solid #969696;
  padding: 1rem;
  font-size: 2rem;
}
form .contact-form-part textarea{
  width: 90rem;
  height: 67.2rem;
  background: #fff;
  border: 1px solid #969696;
  padding: 1rem;
  font-size: 2rem;
}
.contact-privacy-policy{
  width: 90rem;
  height: 34.97rem;
  overflow-y: scroll;
  border: 1px solid;
  padding: 2.6rem 2.1rem 5.4rem 2.7rem;
  background-color: #fff;
}
.contact-privacy-policy{
  width: 90rem;
  height: 34.97rem;
  overflow-y: scroll;
  border: 1px solid;
  padding: 2.6rem 2.1rem 5.4rem 2.7rem;
  background-color: #fff;
  position: relative;
}

.contact-privacy-policy::-webkit-scrollbar {
  width: 2rem;
}
.contact-privacy-policy::-webkit-scrollbar-track {
  background-color: #DCDCDC;
}
.contact-privacy-policy::-webkit-scrollbar-thumb {
  border-left: 0;
  border-right: 0;
  background-color: #464646;
  background-image: url('../image/scroll_arrow.svg'), url('../image/scroll_arrow2.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
  background-size: 1.4rem,  1.4rem;
  position: relative;
}
.contact-privacy-policy p{
  font-weight: 100;
}
.contact-privacy-policy p span{
  font-weight: bold;
}
.contact-checkbox{
  margin: 3.69rem 0 4.83rem 0;
  text-align: center;
  font-weight: 100;
}
/* お問い合わせ確認画面 */
.contact-confirm-container{
  background: #ffe5d9;
  padding: 7.5rem 0 8.5rem 0;
}
.contact-confirm-part{
  margin-bottom: 3.4rem;
}
.contact-confirm-part .textarea{
  margin-bottom: 5.4rem ;
}
.contact-confirm-value{
  border-bottom: 2px solid white;
  font-weight: 100;
  padding: 0.5rem 0 2.9rem 0;
  font-size: 2rem;
}
.contact-confirm-btns{
  text-align: center;
  margin-top: 2rem;
}
.contact-confirm-btns button{
  width: 16.8rem;
  height: 8.8rem;
  background: #818181;
  border: 3px solid #fff;
  filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.16));
  border-radius: 50px;
  color: white;
  margin-right: 4rem;
  padding-left: 2rem;
  position: relative;
}
.contact-confirm-btns button::before{
  content: url('../image/slider_prev_arrow.svg') !important;
  position: absolute;
  top: 26%;
  opacity: 1 !important;
  transform: rotate(180deg);
  left: 28%;
}
.contact-confirm-btns button[type=submit]{
  width: 16.8rem;
  height: 8.8rem;
  background: #dc000c;
  border: 3px solid #fff;
  filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.16));
  color: white;
  border-radius: 50px;
  position: relative;
  padding-right: 3rem;
}
.contact-confirm-btns button[type=submit]::before{
  content: url('../image/slider_next_arrow.svg') !important;
  position: absolute;
  top: 35%;
  opacity: 1 !important;
  transform: rotate(360deg);
  right: -1.5rem;
}
/* お問い合わせエントリー画面 */
.contact-entry-container{
  background: #ffe5d9;
  padding: 7.88rem 0 7.4rem 0;
  text-align: center;
}
.contact-entry-content p:nth-child(1){
  font-size: 2.6rem;
}
.contact-entry-content p:nth-child(2){
  font-weight: 100;
  line-height: 3.8rem;
  margin: 2.9rem 0 4.4rem 0;
}
.contact-entry-content a{
  width: 53.3rem;
  height: 8.8rem;
  background: #dc000c;
  border: 3px solid #fff;
  filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.16));
  display: inline-block;
  text-decoration: none;
  color: white;
  border-radius: 50px;
  font-size: 2.2rem;
  line-height: 8.8rem;
}
/* 問い合わせフォーム */

/* アフターメンテナンス */

/* 上部のメニュー */
.maintenance-menu-container{
  background: #EFEFEF;
}
.maintenance-menu-content{
  text-align: center;
  padding: 7.88rem 0 9rem 0;
}
.maintenance-menu-lists{
  display: flex;
  flex-direction: column;
  height: 51.7rem;
}
.maintenance-menu-lists a{
  width: 90rem;
  height: 10rem;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
  text-decoration: none;
  font-size: 2.4rem;
  line-height: 9rem;
  margin-bottom: 3.3rem;
}
.maintenance-menu-list-block{
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.3rem;
}
.maintenance-menu-list-block a{
  width: 43.2rem;
  height: 11.6rem;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
  display: block;
  text-decoration: none;
  line-height: 8.5rem;
  font-size: 2.4rem;
  margin: 0;
}
.maintenance-menu-red{
  position: relative;
  border: 6px solid #d6101d;
  color: #d6101d;
}
.maintenance-menu-red::after{
  content: url('../image/after_maintenance_arrow_red.svg');
  position: absolute;
  right: 43%;
}
.maintenance-menu-orange{
  position: relative;
  color: #fe6e40;  
  border: 6px solid #fe6e40;
}
.maintenance-menu-orange::after{
  content: url('../image/after_maintenance_arrow_orange.svg');
  position: absolute;
  right: 48%;
  top: 30%;
}
.maintenance-menu-emerald{
  position: relative;
  border: 6px solid #26AD97;
  color: #26AD97;
}
.maintenance-menu-emerald::before{
  content: "セットで\Aお得!";
  position: absolute;
  white-space: pre;
  width: 12.9rem;
  height: 12.9rem;
  background-color: #DC000C;
  border-radius: 50%;
  color: white;
  font-weight: 100;
  top: -2.1rem;
  left: -2.6rem;
  line-height: 2.8rem;
  padding-top: 4rem;
  font-size: 2rem;
}
.maintenance-menu-emerald::after{
  content: url('../image/after_maintenance_arrow_emerald.svg');
  position: absolute;
  right: 18%;
}
.maintenance-menu-gray{
  position: relative;
  border: 6px solid #767676;
  color: #767676;
}
.maintenance-menu-gray::after{
  content: url('../image/after_maintenance_arrow_gray.svg');
  position: absolute;
  right: 37%;
}

.maintenance-detail{
  background: #EFEFEF;
  padding-bottom: 9rem;
}

/* 車検 */
.maintenance-detail-vehicle-inspection{
  text-align: center;
  width: 90rem;
  background: #fff;
  border: 6px solid #d6101d;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.16));
  border-radius: 1rem;
  margin-bottom: 7.7rem;
}
.maintenance-detail-title-red{
  background: #dc000c;
  color: white;
  padding: 2.2rem;
}
.maintenance-detail-title-red p:nth-child(1){
  font-size: 2.6rem;
  font-weight: 100;
}
.maintenance-detail-title-red p:nth-child(2){
  font-size: 2rem;
}
.maintenance-detail-content-red{
  padding: 2.3rem 3.2rem 5.4rem 3.2rem;
}
.maintenance-detail-free-service{
  margin-bottom: 5.2rem;
}
.maintenance-detail-free-service p:nth-child(1){
  font-weight: 100;
  font-size: 1.8rem;
  margin-bottom: 1.181rem;
}
.maintenance-detail-free-service p:nth-child(2){
  background: #fde4e3;
  font-size: 2.2rem;
  font-weight: 100;
  padding: 2.2rem 0;
  position: relative;
}
.maintenance-detail-free-service p:nth-child(2)::after{
  content: url('../image/after_maintenance_free_service_arrow.svg');
  position: absolute;
  bottom: -3.2rem;
  left: 48%;
}
.maintenance-detail-free-service-text{
  font-weight: 100;
  text-align: left;
  font-size: 1.8rem;
}
.maintenance-detail-free-service-part{
  display: flex;
  padding: 0 8.05rem;
  justify-content: space-evenly;
  margin: 4rem 0 2.3rem 0;
}
.maintenance-detail-free-service-part img{
  width: 17.8rem;
  height: 17.8rem;
}
.maintenance-detail-free-vehicle-inspection-fee div{
  max-width: 82.4rem;
  overflow: auto;
  padding-bottom: 2rem;
}
.maintenance-detail-free-vehicle-inspection-fee div::-webkit-scrollbar {
  width: 2rem;
}
.maintenance-detail-free-vehicle-inspection-fee div::-webkit-scrollbar-track {
  background-color: #DCDCDC;
}
.maintenance-detail-free-vehicle-inspection-fee div::-webkit-scrollbar-thumb {
  border-left: 0;
  border-right: 0;
  background-color: #818181;
  position: relative;
}
.maintenance-detail-free-vehicle-inspection-fee p:nth-child(1){
  font-size: 2.4rem;
}
.maintenance-detail-free-vehicle-inspection-fee p:nth-child(2){
  background: #ffefd6;
  font-size: 2rem;
  margin: 1.9rem 0;
  padding: 1.5rem 0;
}
.maintenance-detail-free-vehicle-inspection-fee table{
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
  width: 105.9rem;
}
/* 基本車検料 */
/* テーブル一行目 */
.maintenance-detail-free-vehicle-inspection-fee table tr:nth-child(1){
  color: white;
  font-size: 2rem;
  width: 16.5rem;
  background: #FF783C;
  font-weight: bold;
}
.maintenance-detail-free-vehicle-inspection-fee table tr:nth-child(1) th{
  background: #EFEFEF;
  width: 17.6rem;
  border-right: 1px solid white;
  position: sticky;
  left: 0;
  z-index: 1;
  text-align: left;
  padding-left: 1.2rem;
}
.maintenance-detail-free-vehicle-inspection-fee table tr:nth-child(1) td{
  width: 16.4rem;  
  border-left: 1px solid white;
  padding: 1.3rem 0;
}
/* テーブル二行目 */
.maintenance-detail-free-vehicle-inspection-fee table tr:nth-child(2){
  font-weight: 100;
}
.maintenance-detail-free-vehicle-inspection-fee table tr:nth-child(2) th{
  color: white;
  font-size: 2rem;
  width: 16.5rem;
  background: #1A1311;
  font-weight: 100;
  padding: 1.3rem 0;
  font-weight: 100;
  border-bottom: 1px solid white;
  position: sticky;
  left: 0;
  z-index: 1;
  text-align: left;
  padding-left: 1.2rem;
}
.maintenance-detail-free-vehicle-inspection-fee table tr:nth-child(2) td:nth-child(4){
  background: #FFEBE2;
  border: 1px solid gray;
}
.maintenance-detail-free-vehicle-inspection-fee table tr:nth-child(2) td{
  border: 1px solid #767676;
}
/* テーブル三行目 */
.maintenance-detail-free-vehicle-inspection-fee table tr:nth-child(3){
  font-weight: 100;
}
.maintenance-detail-free-vehicle-inspection-fee table tr:nth-child(3) th{
  color: white;
  font-size: 2rem;
  width: 16.5rem;
  background: #1A1311;
  font-weight: 100;
  padding: 1.3rem 0;
  font-weight: 100;
  border-bottom: 1px solid white;
  position: sticky;
  left: 0;
  z-index: 1;
  text-align: left;
  padding-left: 1.2rem;
}
.maintenance-detail-free-vehicle-inspection-fee table tr:nth-child(3) td{
  background: #FFEBE2;
  border: 1px solid #767676;
}

/* テーブル四行目 */
.maintenance-detail-free-vehicle-inspection-fee table tr:nth-child(4){
  font-weight: 100;
}
.maintenance-detail-free-vehicle-inspection-fee table tr:nth-child(4) th{
  color: white;
  font-size: 2rem;
  width: 16.5rem;
  background: #1A1311;
  font-weight: 100;
  padding: 1.3rem 0;
  font-weight: 100;
  border-bottom: 1px solid white;
  position: sticky;
  left: 0;
  z-index: 1;
    text-align: left;
  padding-left: 1.2rem;
}
.maintenance-detail-free-vehicle-inspection-fee table tr:nth-child(4) td{
  border: 1px solid #767676;
}
/* 基本車検料 */

/* 法定費用 */
.maintenance-detail-legal-fee{
  margin-top: 6.7rem;
}
.maintenance-detail-legal-fee p:nth-child(1){
  font-size: 2.4rem;
}
.maintenance-detail-legal-fee p:nth-child(2){
  background: #ffefd6;
  font-size: 2rem;
  margin: 1.9rem 0;
  padding: 1.5rem 0;
}
.maintenance-detail-legal-fee div{
  max-width: 82.4rem;
  overflow: auto;
  padding-bottom: 2rem;
}
.maintenance-detail-legal-fee div::-webkit-scrollbar {
  width: 2rem;
}
.maintenance-detail-legal-fee div::-webkit-scrollbar-track {
  background-color: #DCDCDC;
}
.maintenance-detail-legal-fee div::-webkit-scrollbar-thumb {
  border-left: 0;
  border-right: 0;
  background-color: #818181;
  position: relative;
}
.maintenance-detail-legal-fee table{
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
  width: 105.9rem;
}
/* 法定費用 */
/* テーブル一行目 */
.maintenance-detail-legal-fee table tr:nth-child(1) th{
  background: #EFEFEF;
  border-right: 1px solid white;
  position: sticky;
  left: 0;
  height: 18.5rem;
  z-index: 1;
  text-align: left;
  padding-left: 1.2rem;
}
.maintenance-detail-legal-fee table tr:nth-child(1) td{
  color: white;
  font-size: 2rem;
  background: #FF783C;
  font-weight: bold;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 1.3rem 0;
}
/* テーブル二行目 */
.maintenance-detail-legal-fee table tr:nth-child(2) th{
  color: white;
  font-size: 2rem;
  background: #1A1311;
  padding: 1.3rem 0;
  height: 4.7rem;
  font-weight: 100;
  border-bottom: 1px solid white;
  text-align: center;
  border-right: 1px solid white;
}
.maintenance-detail-legal-fee table tr:nth-child(2) td{
  color: white;
  font-size: 2rem;
  background: #1A1311;
  padding: 1.3rem 0;
  height: 4.7rem;
  font-weight: 100;
  border-bottom: 1px solid white;
  text-align: center;
  border-right: 1px solid white;
}
/* テーブル三行目 */
.maintenance-detail-legal-fee table tr:nth-child(3) th{
  background: #818181;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.maintenance-detail-legal-fee table tr:nth-child(3) td, .maintenance-detail-legal-fee table tr:nth-child(4) td{
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  background: #818181;
  color: white;
  font-weight: 100;
  height: 4.7rem;
  text-align: right;
  padding-right: 1.5rem;
}
/* テーブル四行目 */
.maintenance-detail-legal-fee table tr:nth-child(4) th{
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  background: #818181;
  color: white;
  font-weight: 100;
  height: 4.7rem;
}
/* テーブル五行目 */
.maintenance-detail-legal-fee table tr:nth-child(5) td, .maintenance-detail-legal-fee table tr:nth-child(7) td{
  text-align: right;
  padding-right: 1.5rem;
  border: 1px solid #767676;
  font-weight: 100;
}
.maintenance-detail-legal-fee table tr:nth-child(5) td:nth-child(3){
  text-align: center;
}
/* テーブル5~8行目 */
.maintenance-detail-legal-fee table tr:nth-child(5) th,
.maintenance-detail-legal-fee table tr:nth-child(6) th,
.maintenance-detail-legal-fee table tr:nth-child(7) th,
.maintenance-detail-legal-fee table tr:nth-child(8) th{
  color: white;
  padding: 0.8rem 0;
  font-size: 2rem;
  width: 16.5rem;
  background: #1A1311;
  font-weight: 100;
  border-bottom: 1px solid white;
  position: sticky;
  left: 0;
  z-index: 1;
  text-align: left;
  padding-left: 1.2rem;
}
.maintenance-detail-legal-fee table tr:nth-child(6) td, .maintenance-detail-legal-fee table tr:nth-child(8) td{
  text-align: right;
  padding-right: 1.5rem;
  border: 1px solid #767676;
  border-bottom: 1px solid #767676;
  font-weight: 100;
  background: #FFEBE2;
}
/* 法定費用 */
/* おすすめオプション */
.maintenance-detail-option{
  margin-top: 4.3rem;
}
.maintenance-detail-option-title{
  font-size: 2.4rem;
  border-bottom: 2px solid #707070;
  padding-bottom: 2.2rem;
}
.maintenance-detail-option-text{
  padding: 2.2rem 0;
  font-size: 2rem;
}
.maintenance-detail-kinds-part{
  display: flex;
}
.maintenance-detail-kinds-part p:nth-child(1){
  width: 31.4%;
  background: #ffebe2;
  padding: 1.4rem 0;
}
.maintenance-detail-kinds-part p:nth-child(2){
  width: 68.6%;
  line-height: 5.2rem;
  font-weight: 100;
  font-size: 2rem;
}
.maintenance-detail-kinds-part:nth-child(1) p:nth-child(1){
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
}
.maintenance-detail-kinds-part:nth-child(1) p:nth-child(2){
  border-right: 1px solid #707070;
  border-top: 1px solid #707070;
}
.maintenance-detail-kinds-part:nth-child(2) p:nth-child(1){
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  border-left: 1px solid #707070;
}
.maintenance-detail-kinds-part:nth-child(2) p:nth-child(2){
  border: 1px solid #707070;
}
/* 視界スッキリメニュー */
.maintenance-detail-refreshing{
  text-align: center;
  width: 90rem;
  background: #fff;
  border: 6px solid #FE6E40;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.16));
  border-radius: 1rem;
  margin-bottom: 7.7rem;
}
.maintenance-detail-title-orange{
  background: #FF783C;
  color: white;
  padding: 2.2rem;
}
.maintenance-detail-title-orange p{
  font-size: 2.6rem;
  font-weight: 100;
}
.maintenance-detail-refreshing-content{
  padding: 2.3rem 3.2rem 5.4rem 3.2rem;
}
.maintenance-detail-refreshing-content2{
  padding: 0.6rem 3.2rem 5.2rem 3.2rem;
}
.maintenance-detail-content-orange-title{
  background: #ffefe7;
  font-size: 2.4rem;
  padding: 1.1rem 0;
}
.maintenance-detail-content-orange-text{
  padding: 2.2rem 7.3rem 2.8rem 7.3rem;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
}
.maintenance-detail-construction{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.maintenance-detail-construction-before, .maintenance-detail-construction-after{
  width: 40.3rem;
  height: 36.8rem;
  position: relative;
}
.maintenance-detail-construction-before span{
  content: '';
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #767676;
  color: white;
  font-size: 2rem;
  padding: 0.7rem;
  font-weight: 100;
}
.maintenance-detail-construction-after span{
  content: '';
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #FF783C;
  color: white;
  font-size: 2rem;
  padding: 0.7rem;
  font-weight: 100;
}
.maintenance-detail-refresing-result{
  border-bottom: 1px solid #707070;
  padding-bottom: 4.6rem;
}
.maintenance-detail-refresing-result-part{
  display: flex;
  margin-bottom: 5.2rem;
}
.maintenance-detail-refresing-result-part:last-child{
  margin: 0;
}
.maintenance-detail-refresing-result-part p:nth-of-type(1){
  font-size: 2rem;
  color: #26B7A1;
  margin-right: 3rem;
}
.maintenance-detail-refresing-result-part p:nth-of-type(2){
  font-size: 2rem;
  text-align: left;
}
.maintenance-detail-refresing-price{
  display: flex;
  padding: 4rem 0rem 2.25rem 0rem;
  width: 61.6rem;
  margin: 0 auto;
}
.maintenance-detail-refresing-price p:nth-of-type(1){
  font-size: 2rem;
  margin-right: 3rem;
}
.maintenance-detail-refresing-price p:nth-of-type(2){
  font-size: 5rem;
  line-height: 3.5rem;
  text-align: right;
  color: #dc000c;
}
.maintenance-detail-refresing-price span{
  font-size: 2.4rem;
}
.maintenance-detail-refresing-coupon p{
  background: #ffefd6;
  padding: 1.4rem 0;
  font-size: 2rem;
  font-weight: 100;
}
.maintenance-detail-refresing-coupon span{
  color: #DC000C;
  font-weight: bold;
}
.maintenance-detail-refresing-full-course .maintenance-detail-refresing-full-course-text{
  font-size: 2rem;
  margin-bottom: 1.7rem;
  margin-top: 3.2rem;
}
.maintenance-detail-refresing-full-course span{
  color: #DC000C;
}
.maintenance-detail-refresing-full-course a{
  display: block;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  background: #26b7a1;
  padding: 3rem 0;
  font-size: 2rem;
}
.maintenance-detail-refresing-full-course a::after{
  content: url('../image/after_maintenance_arrow_emerald2.svg');
  position: absolute;
  right: 32%;
}
/* 車内リフレッシュ！メニュー */
.maintenance-detail-refresh{
  text-align: center;
  width: 90rem;
  background: #fff;
  border: 6px solid #FE6E40;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.16));
  border-radius: 1rem;
  margin-bottom: 7.7rem;
}
.maintenance-detail-refresh-content{
  padding: 2.3rem 3.2rem 2.7rem 3.2rem;
}
.maintenance-detail-refresh-content2{
  padding: 0.6rem 3.2rem 4.3rem 3.2rem;
}
.maintenance-detail-refresh-content .maintenance-detail-content-orange-text, .maintenance-detail-refresh-content2 .maintenance-detail-content-orange-text{
  padding: 2.2rem 7.3rem 2rem 7.3rem;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  line-height: 4rem;
}
.maintenance-detail-refresh-content .maintenance-detail-construction, .maintenance-detail-refresh-content2 .maintenance-detail-construction{
  height: 38rem;
  margin-bottom: 4.3rem;
}
.maintenance-detail-refresh-content .maintenance-detail-construction img, .maintenance-detail-refresh-content2 .maintenance-detail-construction img{
  object-fit: cover;
}

.maintenance-detail-refresh-price{
  display: flex;
  padding: 3.3rem 0rem 1.8rem 0rem;
  width: 61.6rem;
  margin: 0 auto;
}
.maintenance-detail-refresh-price p:nth-of-type(1){
  font-size: 2rem;
  margin-right: 3rem;
}
.maintenance-detail-refresh-price p:nth-of-type(2){
  font-size: 5rem;
  text-align: right;
  color: #dc000c;
}
.maintenance-detail-refresh-content2 .maintenance-detail-refresh-price{
  padding: 3.3rem 0rem 2.2rem 0rem;
}
.maintenance-detail-refresh-content2 .maintenance-detail-refresh-price p:nth-of-type(2){
  line-height: 3rem;
}
.maintenance-detail-refresh-price span{
  font-size: 2.4rem;
}
.maintenance-detail-notes{
  margin-top: 2.2rem;
  text-align: left;
  font-weight: 100;
}
/* フルコース */
.maintenance-detail-full-course{
  text-align: center;
  width: 90rem;
  background: #fff;
  border: 6px solid #26AD97;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.16));
  border-radius: 1rem;
  margin-bottom: 7.7rem;
}
.maintenance-detail-title-emerald{
  background: #26b7a1;
  color: white;
  padding: 2.2rem;
  margin-bottom: 2.5rem;
}
.maintenance-detail-title-emerald p{
  font-size: 2.6rem;
  font-weight: 100;
}
.maintenance-detail-full-course-content{
  padding: 0 3.2rem 2rem 3.2rem;
}
.maintenance-detail-content-emerald-title{
  background: #FFEBE2;
  font-size: 2.4rem;
  padding: 1.1rem 0;
}
.maintenance-detail-full-course-refreshing{
  display: flex;
  justify-content: space-between;
}
.maintenance-detail-full-course-part{
  width: 40.3rem;
  background: #fff;
}
.maintenance-detail-full-course-part p:nth-of-type(1){
  font-size: 2rem;
  border: 1px solid #26ad97;
  padding: 1.2rem 0;
  margin-top: 1.6rem;
}
.maintenance-detail-full-course-part p:nth-of-type(2){
  color: #DC000C;
  font-size: 3.5rem;
  padding: 2.8rem 0 0rem 0;
}
.maintenance-detail-full-course-part span{
  font-size: 2rem;
}
.maintenance-detail-full-course-line{
  border: 3px solid #26ad97;
  position: relative;
  margin-top: 3.45rem;
  margin-bottom: 3.95rem;
}
.maintenance-detail-full-course-line::before{
  content: url(../image/full_course_line.svg);
  position: absolute;
  left: 45%;
  z-index: 1;
  width: 8.1rem;
  background: white;
  top: -2.3rem;
}

.maintenance-detail-full-course-coupon{
  display: flex;
  padding: 3.7rem 6rem 3.6rem 6rem;
  width: 68.6rem;
  margin: 0 auto;
  border-top: 1px solid #707070;
  margin-top: 1.6rem;
}
.maintenance-detail-full-course-coupon p:nth-of-type(1){
  font-size: 2rem;
  margin-right: 3rem;
}
.maintenance-detail-full-course-coupon p:nth-of-type(2){
  line-height: 2.9rem;
  font-size: 5rem;
  text-align: right;
  color: #dc000c;
}
.maintenance-detail-full-bottom{
  padding: 0 3.2rem;
  margin-bottom: 5.2rem;
}

/* その他サービス */
.maintenance-detail-others{
  text-align: center;
  width: 90rem;
  background: #fff;
  border: 6px solid #767676;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.16));
  border-radius: 1rem;
}
.maintenance-detail-title-gray{
  background: #818181;
  color: white;
  padding: 2.2rem;
  margin-bottom: 2.5rem;
}
.maintenance-detail-title-gray p{
  font-size: 2.6rem;
  font-weight: 100;
}
.maintenance-detail-others-content{
  padding: 0 3.2rem 4.3rem 3.2rem;
}
.maintenance-detail-others-content-part{
  margin-bottom: 3.7rem;
}
.maintenance-detail-content-others-title{
  background: #FFEBE2;
  margin-bottom: 1.9rem;
  font-size: 2.4rem;
  padding: 0.7rem 0;
}
.maintenance-detail-content-others-text{
  font-size: 1.8rem;
  font-weight: 100;
  text-align: left;
}
.maintenance-detail-content-others-pay{
  display: flex;
  border: 1px solid #707070;
}
.maintenance-detail-content-others-pay-title{
  background: #e3e2e2;
  padding: 0 2.75rem;
  line-height: 12.1rem;
}
.maintenance-detail-content-others-pay-text{
  font-size: 1.8rem;
  padding: 2rem 0 2rem 1.9rem;
  font-weight: 100;
  text-align: left;
}