$TopMainColor: #DC000C;
$TopBaseColor: white; 
$TopAccentColor: #FF783C;
$TopAccentColor2: #1A1311;


body{
  font-family: 'Noto Sans JP';
}

.header{
  display: flex;
  align-items: center;
  padding: 0 128px;
  width: 100%;
  .header_left{
    margin-right: 82px;
  }
  .header_right{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    ul{
      display: flex;
      padding: 38px 0;
      font-size: 0.875rem;
      list-style: none;
      li{
        margin-right: 25px;
        a{
          color: $TopAccentColor2;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
    .sales_info{
      background: $TopAccentColor2;
      color: white;
      padding: 15px;
      text-align: right;
      h3{
        font-size: 1.2rem;
      }
      p{
        font-size: 0.875rem;
      }
    }
  }
}